{% extends 'website/baseTemplate.html' %}

{% block content %}

    <!-- page content -->
    <div class="col">
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-center">
                    <h1 class="page-header m-3">All reservations</h1>
                </div>
            </div>
        </div>
        {% for day in threeMonthDates %}
            <div class="card mb-3">
                <div class="card-body px-3 pt-2 pb-2">
                    <!-- card header -->
                    <div class="row">
                        <div class="col">
                            <h3 class="card-title">{{day}}</h3>
                        </div>
                    </div>
                    {% for reservation in threeMonthsReservations %}
                        {% if reservation.checkInDate == day %}
                            <!-- guest info card -->
                            <div class="card mb-3">
                                <div class="card-body">

                                    {% if reservation.website  == "Internal booking" %} 
                                        <h5 class="card-title">{{ reservation.guestFirstName }} {{ reservation.guestLastName }}</h5>
                                    {% else %}
                                        <h5 class="card-title">{{ reservation.guestName }}</h5>
                                    {% endif %}

                                    <h6 class="card-title">Check-out: {{ reservation.checkOutDate }}</h6>
                                    <h6 class="card-subtitle mb-2 text-muted">{{ reservation.numNights }} night(s) | Room {{ reservation.assignedRoom.pk }} | {{ reservation.roomType }}</h6>
                                    
                                    {% if reservation.website  == "Internal booking" %}
                                        <h6 class="card-subtitle"><a href="#" class="card-link">ID: {{ reservation.intReservationId }} | {{ reservation.website }}</a></h6>
                                    {% else %}
                                        <h6 class="card-subtitle"><a href="#" class="card-link">Booking number: {{ reservation.extReservationId }}, ID: {{ reservation.intReservationId }} | {{ reservation.listedWebsites }}</a></h6>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}