{% extends 'website/baseTemplate.html' %}

{% block content %}
<!-- page content -->

    <div class="col">
        <div class="row">
            <div class="col d-flex justify-content-center" style="padding: 1rem;">
                <h1 class="pageHeader">Quota, conditions and pricing</h1>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <div class="card" id="quotaConditionsCard">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h5>Total rooms:
                                    <span class="badge rounded-pill text-bg-primary">{{totalHotelRooms}}</span>
                                </h5>
                            </div>
                        </div>
                        <!-- third party website conditions -->
                        <form method="post" action="{% url 'editQuotaConditions' %}">
                            {% csrf_token %}
                            {% for roomTypeData in data %}
                                <div class="card mb-3">
                                    <div class="card-body" id="roomConditions" style="padding-bottom: 0;">
                                        <div class="row">
                                            <div class="col">
                                                <h4 class="card-title">{{ roomTypeData.roomType }}</h4>
                                            </div>
                                        </div>
                                        {% for room_data in roomTypeData.rooms %}
                                            <div class="row">
                                                <div class="col">
                                                    <h5 class="card-title">Room Number: {{ room_data.room_num }}</h5>
                                                </div>
                                                <div class="col">
                                                    <h5 class="card-title">Room Price:
                                                        <input type="text" name="roomPrice-{{ roomTypeData.roomType }}-{{ room_data.room_num }}" value="{{ room_data.room_price }}" />
                                                    </h5>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="row">
                                <div class="col">
                                    <a class="btn btn-danger" href="{% url 'quotaConditions' %}">Cancel</a>
                                    <button class="btn btn-success" type="submit">Save Changes</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}