<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <title>PMS | Index page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- bootstrap css and icons CDN are located in navbar.html -->
        <!-- chart.js -->
        <link rel="stylesheet" href="https://www.jsdelivr.com/package/npm/chart.js?path=dist">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <!-- navigation bar here -->
                {% block nav %}{% include 'navbar.html' %}{% endblock nav %}
                
                <!-- page content -->
                
                <!-- arrival and departures -->
                <div class="col-3" style="padding: 1rem;">
                    <!-- arrivals card -->
                    <div class="row">
                        <div class="col">
                            <div class="card" id="cardStyle">
                                <div class="card-body">
                                    <!-- card header -->
                                    <div class="row">
                                        <div class="col">
                                            <div class="row">
                                                <h4 class="card-title">Today's arrivals</h4>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="d-flex justify-content-end">
                                                <button type="button" class="btn btn-success">
                                                    <b>Total</b> <span class="badge text-bg-primary">10</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <h6 class="card-subtitle mb-2 text-muted">{{currentDate}}</h6>
                                        </div>
                                        <div class="col">
                                            <div class="d-flex justify-content-end">
                                                <a href="#" class="card-link">View all</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- guest info card -->
                                    <div id="scroller">
                                        <div class="card mb-3">
                                            <div class="card-body" id="guestCard">
                                                <h5 class="card-title">Full name</h5>
                                                <h6 class="card-title">Arrival - departure date</h6>
                                                <h6 class="card-subtitle mb-2 text-muted">Num nights | room num | room type</h6>
                                                <h6 class="card-subtitle"><a href="#" class="card-link">Reference: 0123456789 | Website origin</a></h6>
                                            </div>
                                        </div>
                                        <div class="card mb-3">
                                            <div class="card-body" id="guestCard">
                                                <h5 class="card-title">Full name</h5>
                                                <h6 class="card-title">Arrival - departure date</h6>
                                                <h6 class="card-subtitle mb-2 text-muted">Num nights | room num | room type</h6>
                                                <h6 class="card-subtitle"><a href="#" class="card-link">Reference: 0123456789 | Website origin</a></h6>
                                            </div>
                                        </div>
                                        <div class="card mb-3">
                                            <div class="card-body" id="guestCard">
                                                <h5 class="card-title">Full name</h5>
                                                <h6 class="card-title">Arrival - departure date</h6>
                                                <h6 class="card-subtitle mb-2 text-muted">Num nights | room num | room type</h6>
                                                <h6 class="card-subtitle"><a href="#" class="card-link">Reference: 0123456789 | Website origin</a></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- departures card -->
                    <div class="row" style="padding-top: 1rem;">
                        <div class="col">
                            <div class="card" id="cardStyle">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-8">
                                            <div class="row">
                                                <h4 class="card-title">Today's departures</h4>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="d-flex justify-content-end">
                                                <button type="button" class="btn btn-danger">
                                                    <b>Total</b> <span class="badge text-bg-primary">4</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <h6 class="card-subtitle mb-2 text-muted">{{currentDate}}</h6>
                                        </div>
                                        <div class="col">
                                            <div class="d-flex justify-content-end">
                                                <a href="#" class="card-link">View all</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- guest info card -->
                                    <div id="scroller">
                                        <div class="card mb-3">
                                            <div class="card-body" id="guestCard">
                                                <h5 class="card-title">Full name</h5>
                                                <h6 class="card-title">Arrival - departure date</h6>
                                                <h6 class="card-subtitle mb-2 text-muted">Num nights | room num | room type</h6>
                                                <h6 class="card-subtitle"><a href="#" class="card-link">Reference: 0123456789 | Website origin</a></h6>
                                            </div>
                                        </div>
                                        <div class="card mb-3">
                                            <div class="card-body" id="guestCard">
                                                <h5 class="card-title">Full name</h5>
                                                <h6 class="card-title">Arrival - departure date</h6>
                                                <h6 class="card-subtitle mb-2 text-muted">Num nights | room num | room type</h6>
                                                <h6 class="card-subtitle"><a href="#" class="card-link">Reference: 0123456789 | Website origin</a></h6>
                                            </div>
                                        </div>
                                        <div class="card mb-3">
                                            <div class="card-body" id="guestCard">
                                                <h5 class="card-title">Full name</h5>
                                                <h6 class="card-title">Arrival - departure date</h6>
                                                <h6 class="card-subtitle mb-2 text-muted">Num nights | room num | room type</h6>
                                                <h6 class="card-subtitle"><a href="#" class="card-link">Reference: 0123456789 | Website origin</a></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- table, performance cards and statistics -->
                <div class="col-7" style="padding: 1rem;">
                    <!-- available rooms table -->
                    <div class="row">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Building name</th>
                                    {% for dates in weeklyDates %}
                                        <th scope="col">{{dates}}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Aparthotel1</th>
                                    <td>roomAvailable</td>
                                    <td>roomAvailable</td>
                                    <td>roomAvailable</td>
                                    <td>roomAvailable</td>
                                    <td>roomAvailable</td>
                                    <td>roomAvailable</td>
                                    <td>roomAvailable</td>
                                    <td>roomAvailable</td>
                                </tr>
                                <tr>
                                    <th scope="row">Aparthotel2</th>
                                    <td>roomAvailable</td>
                                    <td>roomAvailable</td>
                                    <td>roomAvailable</td>
                                    <td>roomAvailable</td>
                                    <td>roomAvailable</td>
                                    <td>roomAvailable</td>
                                    <td>roomAvailable</td>
                                    <td>roomAvailable</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                    <!-- performance numbers -->
                    <div class="row">
                        <!-- card #1 -->
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <div class="row">
                                                <h4 class="card-title">Booking.com</h4>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="d-flex justify-content-end">
                                                <button type="button" class="btn btn-info">
                                                    Rooms: 10
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- statistics -->
                                    <div class="row">
                                        <div class="col">
                                            <p class="fs-5">Daily sales</p>
                                        </div>
                                        <div class="col">
                                            <div class="d-flex justify-content-end">
                                                <button type="button" class="btn btn-secondary" disabled>sales</button>
                                                <button type="button" class="btn btn-outline-success" disabled>
                                                    <i class="bi-arrow-up"></i>
                                                    %increase
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p class="fs-5">Monthly sales</p>
                                        </div>
                                        <div class="col">
                                            <div class="d-flex justify-content-end">
                                                <button type="button" class="btn btn-secondary" disabled>sales</button>
                                                <button type="button" class="btn btn-outline-danger" disabled>
                                                    <i class="bi-arrow-down"></i>
                                                    %increase
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p class="fs-5">Yearly sales</p>
                                        </div>
                                        <div class="col">
                                            <div class="d-flex justify-content-end">
                                                <button type="button" class="btn btn-secondary" disabled>sales</button>
                                                <button type="button" class="btn btn-outline-success" disabled>
                                                    <i class="bi-arrow-up"></i>
                                                    %increase
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" class="card-link">Monthly sales</a>
                                    <a href="#" class="card-link">Quarterly sales</a>
                                    <a href="#" class="card-link">Yearly sales</a>
                                </div>
                            </div>
                        </div>
                        <!-- card #2 -->
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <div class="row">
                                                <h4 class="card-title">Traveloka</h4>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="d-flex justify-content-end">
                                                <button type="button" class="btn btn-info">
                                                    Rooms: 10
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- statistics -->
                                    <div class="row">
                                        <div class="col">
                                            <p class="fs-5">Daily sales</p>
                                        </div>
                                        <div class="col">
                                            <div class="d-flex justify-content-end">
                                                <button type="button" class="btn btn-secondary" disabled>sales</button>
                                                <button type="button" class="btn btn-outline-success" disabled>
                                                    <i class="bi-arrow-up"></i>
                                                    %increase
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p class="fs-5">Monthly sales</p>
                                        </div>
                                        <div class="col">
                                            <div class="d-flex justify-content-end">
                                                <button type="button" class="btn btn-secondary" disabled>sales</button>
                                                <button type="button" class="btn btn-outline-danger" disabled>
                                                    <i class="bi-arrow-down"></i>
                                                    %increase
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p class="fs-5">Yearly sales</p>
                                        </div>
                                        <div class="col">
                                            <div class="d-flex justify-content-end">
                                                <button type="button" class="btn btn-secondary" disabled>sales</button>
                                                <button type="button" class="btn btn-outline-success" disabled>
                                                    <i class="bi-arrow-up"></i>
                                                    %increase
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" class="card-link">Monthly sales</a>
                                    <a href="#" class="card-link">Quarterly sales</a>
                                    <a href="#" class="card-link">Yearly sales</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- performance statistics -->
                    <div class="row">
                        <!-- statistic #1 -->
                        <div class="col">

                        </div>
                        <!-- statistic #2 -->
                    </div>

                </div>
                
                
            </div>
        </div>
    </body>
</html>