{% extends 'website/baseTemplate.html' %}

{% block content %}

    <!-- page content -->
    <div class="col pt-2">
        <!-- CheckIn card -->
        <div class="card" id="indexCard">
            <div class="card-body">
                <!-- card header -->
                <div class="row">
                    <div class="col">
                        <a class="btn btn-info position-relative" href="{% url 'allReservations' %}">
                            <h4 style="margin-bottom: 1px;">Check-in</h4>
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill rounded-pill bg-danger">
                                {{numCheckIn}}
                            </span>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h6 class="card-subtitle mt-1 text-muted">{{currentDate}}</h6>
                    </div>
                </div>
                <!-- guest info card -->
                <div id="scroller">
                    {% for reservation, assignedRooms in todayCheckIn %}
                        <div class="card mb-3">
                            <div class="card-body" id="guestCard">

                                {% if reservation.website  == "Internal booking" %}
                                    <h5 class="card-title">
                                        {{ reservation.guestFirstName }} {{ reservation.guestLastName }}
                                    </h5>
                                {% else %}
                                    <h5 class="card-title">
                                        {{ reservation.guestName }}
                                    </h5>
                                {% endif %}

                                <h6 class="card-title">Check-out: {{ reservation.checkOutDate }}</h6>

                                {% if reservation.website  == "Internal booking" %} 
                                    {% for room in assignedRooms %}
                                        <h6 class="card-subtitle mb-2 text-muted">
                                            {{ reservation.numNights }} nights | Room {{ room.roomNum }} | {{ room.roomType }}
                                        </h6>
                                    {% endfor %}
                                {% else %}
                                    {% for room in assignedRooms %}
                                        <h6 class="card-subtitle mb-2 text-muted">
                                            {{ reservation.numNights }} nights | Room {{ room.room.roomNum }} | {{ room.room.roomType }}
                                        </h6>
                                    {% endfor %}
                                {% endif %}
                                
                                {% if reservation.website  == "Internal booking" %}
                                    <h6 class="card-subtitle"><a href="#" class="card-link">
                                        ID: {{ reservation.intReservationId }} | {{ reservation.website }}
                                    </a></h6>
                                {% else %}
                                    <h6 class="card-subtitle"><a href="#" class="card-link">
                                        Booking number: {{ reservation.extReservationId }}, ID: {{ reservation.intReservationId }} | {{ reservation.website }}
                                    </a></h6>
                                {% endif %}

                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
            
        <!-- CheckOut card -->
        <div class="card mt-2" id="indexCard">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <a class="btn btn-info position-relative" href="{% url 'allReservations' %}">
                            <h4 style="margin-bottom: 1px;">Check-out</h4>
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill rounded-pill bg-danger">
                                {{numCheckOut}}
                            </span>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h6 class="card-subtitle mt-1 text-muted">{{currentDate}}</h6>
                    </div>
                </div>
                <!-- guest info card -->
                <div id="scroller">
                    {% for reservation, assignedRooms in todayCheckOut %}
                        <div class="card mb-3">
                            <div class="card-body" id="guestCard">

                                {% if reservation.website  == "Internal booking" %} 
                                    <h5 class="card-title">
                                        {{ reservation.guestFirstName }} {{ reservation.guestLastName }}
                                    </h5>
                                {% else %}
                                    <h5 class="card-title">
                                        {{ reservation.guestName }}
                                    </h5>
                                {% endif %}

                                {% if reservation.website  == "Internal booking" %} 
                                    {% for room in assignedRooms %}
                                        <h6 class="card-subtitle mb-2 text-muted">
                                            {{ reservation.numNights }} nights | Room {{ room.roomNum }} | {{ room.roomType }}
                                        </h6>
                                    {% endfor %}
                                {% else %}
                                    {% for room in assignedRooms %}
                                        <h6 class="card-subtitle mb-2 text-muted">
                                            {{ reservation.numNights }} nights | Room {{ room.room.roomNum }} | {{ room.room.roomType }}
                                        </h6>
                                    {% endfor %}
                                {% endif %}
                                
                                {% if reservation.website  == "Internal booking" %}
                                    <h6 class="card-subtitle"><a href="#" class="card-link">
                                        ID: {{ reservation.intReservationId }} | {{ reservation.website }}
                                    </a></h6>
                                {% else %}
                                    <h6 class="card-subtitle"><a href="#" class="card-link">
                                        Booking number: {{ reservation.extReservationId }}, ID: {{ reservation.intReservationId }} | {{ reservation.website }}
                                    </a></h6>
                                {% endif %}

                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!-- table, performance cards and statistics -->
    <div class="col-xl-8" style="padding: 1rem;">
        
        <!-- available rooms table -->
        <div class="row mb-3">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" class="card-title h5">Building name</th>
                            {% for date, _ in availableRooms.items %}
                                {% if date == currentDate %}
                                    <th scope="col" class="first h5">{{ date }}</th>
                                {% else %}
                                    <th scope="col" class="h5">{{ date }}</th>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row" class="h5">Paraiso</th>
                            {% for _, data in availableRooms.items %}
                                <td>

                                    {% if data.single == 0 %}
                                    <h5>
                                        <span class="badge rounded-pill bg-danger larger">
                                            Single: {{ data.single }}
                                        </span>
                                    </h5>
                                    {% else %}
                                    <h5>
                                        <span class="badge rounded-pill bg-success">
                                            Single: {{ data.single }}
                                        </span>
                                    </h5>
                                    {% endif %}

                                    {% if data.twin == 0 %}
                                    <h5>
                                        <span class="badge rounded-pill bg-danger">
                                            Twin: {{ data.twin }}
                                        </span>
                                    </h5>
                                    {% else %}
                                    <h5>
                                        <span class="badge rounded-pill bg-success">
                                            Twin: {{ data.twin }}
                                        </span>
                                    </h5>
                                    {% endif %}

                                    {% if data.total == 0 %}
                                    <h5>
                                        <span class="badge rounded-pill bg-danger">
                                            Total: {{ data.total }}
                                        </span>
                                    </h5>
                                    {% else %}
                                    <h5>
                                        <span class="badge rounded-pill bg-success">
                                            Total: {{ data.total }}
                                        </span>
                                    </h5>
                                    {% endif %}

                                </td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        <!-- performance numbers -->
        <div class="row">
            <!-- card #1 -->
            <div class="col">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <h4 class="card-title">Booking.com 
                                        <span class="badge rounded-pill bg-info">
                                            {{ currentTotal }} / 19
                                        </span>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <!-- statistics -->
                        <div class="row">
                            <div class="col">
                                <p class="fs-5 mb-0">Daily sales </p>
                            </div>
                            <div class="col d-flex justify-content-end">
                                <p class="fs-5">
                                    <span class="badge rounded-pill bg-secondary">sales</span>
                                    <span class="badge rounded-pill bg-success">
                                        <i class="bi-arrow-up"></i>
                                        %increase
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="fs-5 mb-0">Monthly sales </p>
                            </div>
                            <div class="col d-flex justify-content-end">
                                <p class="fs-5">
                                    <span class="badge rounded-pill bg-secondary">sales</span>
                                    <span class="badge rounded-pill bg-danger">
                                        <i class="bi-arrow-down"></i>
                                        %increase
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="fs-5 mb-0">Yearly sales </p>
                            </div>
                            <div class="col d-flex justify-content-end">
                                <p class="fs-5">
                                    <span class="badge rounded-pill bg-secondary">sales</span>
                                    <span class="badge rounded-pill bg-success">
                                        <i class="bi-arrow-up"></i>
                                        %increase
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-evenly">
                            <a href="#" class="card-link">Monthly sales</a>
                            <a href="#" class="card-link">Quarterly sales</a>
                            <a href="#" class="card-link">Yearly sales</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- card #2 -->
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <h4 class="card-title">Traveloka <span class="badge rounded-pill bg-info">current available rooms</span></h4>
                                </div>
                            </div>
                        </div>
                        <!-- statistics -->
                        <div class="row">
                            <div class="col">
                                <p class="fs-5 mb-0">Daily sales </p>
                            </div>
                            <div class="col d-flex justify-content-end">
                                <p class="fs-5">
                                    <span class="badge rounded-pill bg-secondary">sales</span>
                                    <span class="badge rounded-pill bg-success">
                                        <i class="bi-arrow-up"></i>
                                        %increase
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="fs-5 mb-0">Monthly sales </p>
                            </div>
                            <div class="col d-flex justify-content-end">
                                <p class="fs-5">
                                    <span class="badge rounded-pill bg-secondary">sales</span>
                                    <span class="badge rounded-pill bg-danger">
                                        <i class="bi-arrow-down"></i>
                                        %increase
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="fs-5 mb-0">Yearly sales </p>
                            </div>
                            <div class="col d-flex justify-content-end">
                                <p class="fs-5">
                                    <span class="badge rounded-pill bg-secondary">sales</span>
                                    <span class="badge rounded-pill bg-success">
                                        <i class="bi-arrow-up"></i>
                                        %increase
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-evenly">
                            <a href="#" class="card-link">Monthly sales</a>
                            <a href="#" class="card-link">Quarterly sales</a>
                            <a href="#" class="card-link">Yearly sales</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- performance statistics -->
        <div class="row">
            <!-- statistic #1 -->
            <div class="col">

            </div>
            <!-- statistic #2 -->
        </div>
    </div>
{% endblock %}