{% extends 'website/baseTemplate.html' %}

{% block content %}

    <!-- page content -->
    <div class="col pt-2">
        <!-- arrivals card -->
        <div class="card" id="indexCard">
            <div class="card-body">
                <!-- card header -->
                <div class="row">
                    <div class="col">
                        <a class="btn btn-info position-relative" href="{% url 'reservations' %}">
                            <h4 style="margin-bottom: 1px;">Check-in</h4>
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill rounded-pill bg-danger">
                                {{numCheckIn}}
                            </span>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h6 class="card-subtitle mt-1 text-muted">{{currentDate}}</h6>
                    </div>
                </div>
                <!-- guest info card -->
                <div id="scroller">
                    {% for guests in todayCheckIn %}
                        <div class="card mb-3">
                            <div class="card-body" id="guestCard">
                                <h5 class="card-title">{{guests.guestFirstName}} {{guests.guestLastName}}</h5>
                                <h6 class="card-title">Departs: {{guests.checkOutDate}}</h6>
                                <h6 class="card-subtitle mb-2 text-muted">{{guests.numNights}} nights | room num | {{guests.numRooms}} room</h6>
                                <h6 class="card-subtitle"><a href="#" class="card-link">Reference: {{guests.extReservationId}} | Website: {{guests.website}}</a></h6>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
            
        <!-- departures card -->
        <div class="card mt-2" id="indexCard">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <a class="btn btn-info position-relative" href="{% url 'reservations' %}">
                            <h4 style="margin-bottom: 1px;">Check-out</h4>
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill rounded-pill bg-danger">
                                {{numCheckOut}}
                            </span>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h6 class="card-subtitle mt-1 text-muted">{{currentDate}}</h6>
                    </div>
                </div>
                <!-- guest info card -->
                <div id="scroller">
                    {% for guests in todayCheckOut %}
                        <div class="card mb-3">
                            <div class="card-body" id="guestCard">
                                <h5 class="card-title">{{guests.guestFirstName}} {{guests.guestLastName}}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{guests.numNights}} nights | room num | room type</h6>
                                <h6 class="card-subtitle"><a href="#" class="card-link">Reference: {{guests.extReservationId}} | Website: {{guests.website}}</a></h6>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!-- table, performance cards and statistics -->
    <div class="col-xl-8" style="padding: 1rem;">
        <!-- available rooms table -->
        <div class="row mb-3">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Building name</th>
                            {% for dates in weeklyDates %}
                                <th scope="col">{{dates}}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Aparthotel1</th>
                            <td>roomAvailable</td>
                            <td>roomAvailable</td>
                            <td>roomAvailable</td>
                            <td>roomAvailable</td>
                            <td>roomAvailable</td>
                            <td>roomAvailable</td>
                            <td>roomAvailable</td>
                            <td>roomAvailable</td>
                        </tr>
                        <tr>
                            <th scope="row">Aparthotel2</th>
                            <td>roomAvailable</td>
                            <td>roomAvailable</td>
                            <td>roomAvailable</td>
                            <td>roomAvailable</td>
                            <td>roomAvailable</td>
                            <td>roomAvailable</td>
                            <td>roomAvailable</td>
                            <td>roomAvailable</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        <!-- performance numbers -->
        <div class="row">
            <!-- card #1 -->
            <div class="col">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <h4 class="card-title">Booking.com <span class="badge rounded-pill bg-info">1/5 available</span></h4>
                                </div>
                            </div>
                        </div>
                        <!-- statistics -->
                        <div class="row">
                            <div class="col">
                                <p class="fs-5 mb-0">Daily sales </p>
                            </div>
                            <div class="col d-flex justify-content-end">
                                <p class="fs-5">
                                    <span class="badge rounded-pill bg-secondary">sales</span>
                                    <span class="badge rounded-pill bg-success">
                                        <i class="bi-arrow-up"></i>
                                        %increase
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="fs-5 mb-0">Monthly sales </p>
                            </div>
                            <div class="col d-flex justify-content-end">
                                <p class="fs-5">
                                    <span class="badge rounded-pill bg-secondary">sales</span>
                                    <span class="badge rounded-pill bg-danger">
                                        <i class="bi-arrow-down"></i>
                                        %increase
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="fs-5 mb-0">Yearly sales </p>
                            </div>
                            <div class="col d-flex justify-content-end">
                                <p class="fs-5">
                                    <span class="badge rounded-pill bg-secondary">sales</span>
                                    <span class="badge rounded-pill bg-success">
                                        <i class="bi-arrow-up"></i>
                                        %increase
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-evenly">
                            <a href="#" class="card-link">Monthly sales</a>
                            <a href="#" class="card-link">Quarterly sales</a>
                            <a href="#" class="card-link">Yearly sales</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- card #2 -->
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <h4 class="card-title">Traveloka <span class="badge rounded-pill bg-info">3/5 available</span></h4>
                                </div>
                            </div>
                        </div>
                        <!-- statistics -->
                        <div class="row">
                            <div class="col">
                                <p class="fs-5 mb-0">Daily sales </p>
                            </div>
                            <div class="col d-flex justify-content-end">
                                <p class="fs-5">
                                    <span class="badge rounded-pill bg-secondary">sales</span>
                                    <span class="badge rounded-pill bg-success">
                                        <i class="bi-arrow-up"></i>
                                        %increase
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="fs-5 mb-0">Monthly sales </p>
                            </div>
                            <div class="col d-flex justify-content-end">
                                <p class="fs-5">
                                    <span class="badge rounded-pill bg-secondary">sales</span>
                                    <span class="badge rounded-pill bg-danger">
                                        <i class="bi-arrow-down"></i>
                                        %increase
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="fs-5 mb-0">Yearly sales </p>
                            </div>
                            <div class="col d-flex justify-content-end">
                                <p class="fs-5">
                                    <span class="badge rounded-pill bg-secondary">sales</span>
                                    <span class="badge rounded-pill bg-success">
                                        <i class="bi-arrow-up"></i>
                                        %increase
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-evenly">
                            <a href="#" class="card-link">Monthly sales</a>
                            <a href="#" class="card-link">Quarterly sales</a>
                            <a href="#" class="card-link">Yearly sales</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- performance statistics -->
        <div class="row">
            <!-- statistic #1 -->
            <div class="col">

            </div>
            <!-- statistic #2 -->
        </div>
    </div>
{% endblock %}