{% extends 'website/baseTemplate.html' %}
{% load static %}

{% block content %}
    <!-- page content -->

    <!-- quota and conditions -->
    <div class="col" >
        <div class="row">
            <div class="col d-flex justify-content-center" style="padding: 1rem;">
                <h1 class="pageHeader">Quota, conditions and pricing</h1>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <div class="card" id="quotaConditionsCard">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h5>Total rooms: 
                                    <span class="badge rounded-pill text-bg-primary">{{totalHotelRooms}}</span>
                                </h5>
                            </div>
                        </div>
                        <!-- third party website conditions -->
                        <div class="collapse multi-collapse show" id="websiteData">
                            <div class="card mb-3 ">
                                <div class="card-body" id="roomConditions" style="padding-bottom: 0;">
                                    {% for data in websiteData %}
                                        <div class="row">
                                            <div class="col">
                                                <h4 class="card-title">{{ data.website.websiteName }}</h4>
                                            </div>
                                            <div class="col-7">
                                                <li class="list-group-item">
                                                    <div class="ms-2 mb-4">
                                                        <h5>Listed rooms:
                                                            <span class="badge rounded-pill text-bg-primary">{{ data.website.roomInventory }}</span>
                                                        </h5>
                                                        <h5>Condition:
                                                            <span class="badge rounded-pill text-bg-primary">N/A - NO API ACCESS</span>
                                                        </h5>
                                                        {% for roomData in data.roomPrices %}
                                                            <div class="fw-bold">{{ roomData.roomType }}</div>
                                                            <p class="mb-0">Price<b>(฿‎)</b>: <span class="badge bg-info rounded-pill">{{ roomData.roomPrice }}</span></p>
                                                        {% endfor %}
                                                    </div>
                                                </li>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <a class="btn btn-primary" href="{% url 'editQuotaConditions' %}">
                                Edit quota, conditions and pricing
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- script loader -->
    <script type="text/javascript" src="{% static 'website/quotaConditions.js' %}"></script>
{% endblock %}