{% extends 'website/baseTemplate.html' %}

{% block content %}

    <!-- page content -->
    <div class="col">
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-center">
                    <h1 class="page-header m-3">All reservations</h1>
                </div>
            </div>
        </div>
        <div class="card">
            {% for dates in weeklyDates %}
                <div class="card-body px-3 pt-2 pb-2">
                    <!-- card header -->
                    <div class="row">
                        <div class="col">
                            <h3 class="card-title">{{dates}}</h3>
                        </div>
                    </div>
                    <!-- guest info card -->
                    <div>
                        <div class="card mb-3">
                            <div class="card-body" id="guestCard">
                                <h5 class="card-title">Full name</h5>
                                <h6 class="card-title">Departs: departure date</h6>
                                <h6 class="card-subtitle mb-2 text-muted">Num nights | room num | room type</h6>
                                <h6 class="card-subtitle"><a href="#" class="card-link">Reference: 0123456789 | Website origin</a></h6>
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="card-body" id="guestCard">
                                <h5 class="card-title">Full name</h5>
                                <h6 class="card-title">Departs: departure date</h6>
                                <h6 class="card-subtitle mb-2 text-muted">Num nights | room num | room type</h6>
                                <h6 class="card-subtitle"><a href="#" class="card-link">Reference: 0123456789 | Website origin</a></h6>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body" id="guestCard">
                                <h5 class="card-title">Full name</h5>
                                <h6 class="card-title">Departs: departure date</h6>
                                <h6 class="card-subtitle mb-2 text-muted">Num nights | room num | room type</h6>
                                <h6 class="card-subtitle"><a href="#" class="card-link">Reference: 0123456789 | Website origin</a></h6>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}