{% extends 'website/baseTemplate.html' %}

{% block content %}

    <div class="col">
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-center">
                    <h1 class="page-header m-3">Room status and cleaning</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-evenly">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="available" checked>
                    <label class="form-check-label">Available</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="cleaning" checked>
                    <label class="form-check-label">Cleaning</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="unavailable" checked>
                    <label class="form-check-label">Unavailable</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-evenly">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="apartment" checked>
                    <label class="form-check-label">Apartment</label>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <h2 class="page-header m-3">Paraiso</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h3 class="page-header mb-3 d-flex justify-content-center">
                            <!-- available -->
                            <span class="badge rounded-pill text-bg-success">{{ paraisoRoomStatus.available }}</span> 
                            <!-- cleaning -->
                            <span class="badge rounded-pill text-bg-info">{{ paraisoRoomStatus.cleaning }}</span>
                            <!-- unavailable -->
                            <span class="badge rounded-pill text-bg-danger">{{ paraisoRoomStatus.unavailable }}</span>
                            <!-- apartment -->
                            <span class="badge rounded-pill text-bg-dark">{{ paraisoRoomStatus.apartment }}</span>
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3 class="page-header mb-3 d-flex justify-content-center">
                            <!-- count single bed -->
                            <span class="badge rounded-pill text-bg-secondary">Single:
                                {{ paraisoRoomTypeCount.single }}
                            </span> 
                            <!-- count twin bed -->
                            <span class="badge rounded-pill text-bg-secondary">Twin:
                                {{ paraisoRoomTypeCount.twin }}
                            </span>
                        </h3>
                    </div>
                </div> 
                <div class="accordion">
                    {% for floor, floorInfo in paraisoFloorRooms.items %}
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button">
                                Floor {{floor}} | status:
                                <!-- available -->
                                <span class="badge rounded-pill text-bg-success">{{ floorInfo.available }}</span> 
                                <!-- cleaning -->
                                <span class="badge rounded-pill text-bg-info">{{ floorInfo.cleaning }}</span>
                                <!-- unavailable -->
                                <span class="badge rounded-pill text-bg-danger">{{ floorInfo.unavailable }}</span>
                                <!-- apartment -->
                                <span class="badge rounded-pill text-bg-dark">{{ floorInfo.apartment }}</span>
                                </button>
                            </h2>
                            <div class="accordion-collapse collapse show">
                                <div class="accordion-body">
                                    <div class="row">
                                        <div class="col-12">
                                            {% for room in floorInfo.rooms%}
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" id="{{room.roomStatus}}" checked>
                                                    <label class="form-check-label">
                                                        {{room.roomNum}}
                                                        {% if room.roomStatus == 'apartment' %}
                                                        {% else %}
                                                            {{ room.roomType }}
                                                        {% endif %}
                                                    </label>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col">
                <h3 class="page-header mb-3 d-flex justify-content-center">
                    <!-- cleaning -->
                    <span class="badge rounded-pill text-bg-info">{{ paraisoRoomStatus.cleaning }}</span>
                </h3>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary" {% if paraisoRoomStatus.cleaning == 0 %} disabled {% endif %} >Submit job</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}