{% extends 'website/baseTemplate.html' %}

{% block content %}

    <div class="col">
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-center">
                    <h1 class="page-header m-3">Room status and cleaning</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-evenly">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="available" checked>
                    <label class="form-check-label" for="available">Room available</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="cleaning" checked>
                    <label class="form-check-label" for="cleaning">Room needs cleaning</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="unavailable" checked>
                    <label class="form-check-label" for="unavailable">Room unavailable</label>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <h2 class="page-header m-3">Aparthotel1</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h3 class="page-header m-3 d-flex justify-content-center">Room status
                            <span class="badge rounded-pill text-bg-success">{{ paraisoRoomStatus.available }}</span> 
                            <!-- available -->
                            <span class="badge rounded-pill text-bg-info">{{ paraisoRoomStatus.cleaning }}</span>
                            <!-- cleaning -->
                            <span class="badge rounded-pill text-bg-danger">{{ paraisoRoomStatus.unavailable }}</span>
                        </h3>
                    </div>
                </div> 
                <div class="accordion">
                    {% for floor, floorInfo in paraisoFloorRooms.items %}
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse">
                                Floor {{floor}} | status:
                                <span class="badge rounded-pill text-bg-success">{{ floorInfo.available }}</span> 
                                <!-- available -->
                                <span class="badge rounded-pill text-bg-info">{{ floorInfo.cleaning }}</span>
                                <!-- cleaning -->
                                <span class="badge rounded-pill text-bg-danger">{{ floorInfo.unavailable }}</span>
                                <!-- unavailable -->
                                </button>
                            </h2>
                            <div class="accordion-collapse collapse show">
                                <div class="accordion-body">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            {% for room in floorInfo.rooms%}
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" id="{{room.roomStatus}}" checked>
                                                    <label class="form-check-label">
                                                        {{room.roomNum}}
                                                    </label>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col">
                <h3 class="page-header m-3 d-flex justify-content-center">Rooms to clean</h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        {% for room in toClean %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="toCleanStatus">
                                <label class="form-check-label" for="toCleanStatus">
                                    {{room.roomNum}}
                                </label>
                            </div>
                        {% endfor %}
                    </li>
                </ul>
                <button type="button" class="btn btn-primary">Submit job</button>
            </div>
        </div>
    </div>
{% endblock %}