{% extends 'website/baseTemplate.html' %}

{% block content %}

    <!-- page content -->
    <form action="" method="POST">
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-center">
                    <h1 class="page-header my-2">Walk-in Reservation</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <!-- number of available rooms -->
                <h4 class="page-header mb-2 d-flex justify-content-center">Available rooms:
                    <span class="badge rounded-pill text-bg-success" id="availableRooms">{{ paraisoRoomStatus.available }}</span> 
                </h4>
            </div>
        </div>
        <div class="form-group m-2">
            {% csrf_token %}
            {{ form }}
            <div class="row">
                <div class="col m-3">
                    <div class="d-flex justify-content-evenly">
                        <button type="submit" class="btn btn-primary fs-3" {% if paraisoRoomStatus.available == 0 %} disabled {% endif %}>Submit form</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}