/* navbar.html */

.lg {
    width: 1100px;
}

hr {
    height: 1px;
    background-color: black;
    border: none;
    opacity: 0.5;
}

/* index.html */
#cardStyle {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 48vh;
}

#scroller {
    height: 39vh;
    overflow-y: auto;
    padding: 5px;
    flex-grow: 1;
}

#guestCard {
    padding: 7px;
}

/* quotaConditions */

.btn-toggle {
    --bs-btn-active-bg: #198754;
    --bs-btn-active-border-color: #198754;
    --bs-btn-hover-bg: #198754;
    --bs-btn-hover-border-color: #198754;
} 

.pageHeader{
    margin-bottom: 1rem;
}

#quotaConditionsCard {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
}

#roomConditions {
    padding: 1rem;
}